.chart div {
  font: 10px sans-serif;
  background-color:white;
  text-align:left;
  padding: 3px;
  margin:1px;
  fill:yellow;
}
svg{
    background-color: white;
    stroke:black;
    fill:green;
    width:1200px;
  height:700px;
  text fill:red;
}
body{background-color: teal;
}
